* { 
    color: #3C1321; /* dark chocolate */
    font-family: 'Bitter','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','ヒラギノ角ゴ W3', 'メイリオ', system-ui; /* BitterはWebフォント。HTMLでGoogle Fontsを参照して使用 */
    margin: 0px;
    padding: 0px;
}

div.footer_table {
    padding: 50px 0px 50px 60px;
    width: 600px;
}

div.gallery_image {
    text-align: center;
}

div.google_map {
    padding: 30px 0px 0px 0px;
    text-align: center;
}

div.main_contents {
    padding: 30px 0px 30px 30px;
}

em {
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
}

footer {
    background-color: #7B5544; /* coffee */
    padding: 0px 30px 0px 30px;
}

header {
    background-color: #7B5544; /* coffee */
    height: 130px;
    padding: 0px 30px 0px 30px;
}

hr {
    border: 1px #7B5544 dashed;
    margin: 30px 0px 30px 0px;
}

h1 {
    color: #FFFFFF; /* white */
    font-size: 42px;
    padding: 20px 0px 20px 0px;
}

h3 {
    font-size: 22px;
    padding: 20px 0px 20px 0px;
}

main {
    background-color: #FAEBD7; /* antiquewhite */
    padding: 50px 0px 50px 0px;
}

p.about_mission {
    text-align: center;
}

p.menu_p {
    margin: 30px 0px 0px 30px;
}

section {
    padding: 0px 30px 50px 30px;
    width: 900px;
}

table {
    border: 1px solid #7B5544; /* coffee */
    margin-left: 40px;
    width: 700px;
}

td.price {
    text-align: right;
}

th {
    background-color: #7B5544; /* coffee */
    color: #FFFFFF; /* white */
    text-align: center;
}

tr.footer_tr td {
    color: #FFFFFF; /* white */
}

tr.menu_tr:nth-child(2n) { /* class属性がmenu_trの行の偶数行にのみ適用 */
    background-color: #FFFFF0; /* ivory */
}

ul.ul_header li {
    display: inline-block;
    height: 30px;
    width: 100px;
}

ul.ul_header li a {
    color: #FFFFFF; /* white */
    font-weight: bold;
    text-decoration: none;
}