* { 
    color: #3C1321; /* dark chocolate */
    font-family: 'Bitter','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','ヒラギノ角ゴ W3', 'メイリオ', system-ui; /* BitterはWebフォント。HTMLでGoogle Fontsを参照して使用 */
    margin: 0;
    padding: 0;
}

footer, header {
    background-color: #7B5544; /* coffee */
    padding: 0 30px; /* top & bottom 0px | right & left 30px */
}

h1 {
    color: #FFFFFF; /* white */
    font-size: 2.5em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.3em;
}

main {
    background-color: #FAEBD7; /* antiquewhite */
    padding: 50px 0; /* top & bottom 50px | right & left 0px */
}

section {
    padding: 0 30px 50px 30px; /* top 0px | right 30px | bottom 50px | left 30px */
    width: 900px;
}

table {
    border: 1px solid #7B5544; /* coffee */
}

th {
    background-color: #7B5544; /* coffee */
    color: #FFFFFF; /* white */
    text-align: center;
}

.about_em {
    font-size: 1.5em;
    font-style: normal;
    font-weight: bold;
}

.about_mission {
    border-bottom: 1px #7B5544 dashed;  /* coffee */
    border-top: 1px #7B5544 dashed;  /* coffee */
    margin: 30px 0; /* top & bottom 30px | right & left 0px */
    padding: 30px 0; /* top & bottom 30px | right & left 0px */
    text-align: center;
}

.footer_table {
    padding: 50px 0 50px 100px; /* top 50px | right 0px | bottom 50px | left 100px */
    width: 600px;
}

.footer_td {
    width: 160px;
}

.footer_tr > td {
    color: #FFFFFF; /* white */
}

.footer_tr > td > address {
    color: inherit; /* 親要素（.footer_tr > td）のプロパティを継承 */
    font-style: normal;
}

.footer_tr > td > time {
    color: inherit; /* 親要素（.footer_tr > td）のプロパティを継承 */
}


.gallery_image {
    text-align: center;
}

.google_map {
    padding: 30px 0 0 30px; /* top 30px | right 0px | bottom 0px | left 30px */
}

.header_h1 {
    padding: 20px 0; /* top & bottom 20px | right & left 0px */
}

.main_contents {
    padding: 30px 0 30px 30px; /* top 30px | right 0px | bottom 30px | left 30px */
}

.menu_div {
    padding-left: 40px;
}

.menu_h3 {
    padding: 20px 0; /* top & bottom 20px | right & left 0px */
}

.menu_p {
    padding-top: 30px;
}

.menu_table {
    width: 700px;
}

.menu_tr:nth-child(2n+1) { /* :nth-child擬似クラス。class属性がmenu_trのタグの表の奇数行の背景色を変える */
    background-color: #FFFFF0; /* ivory */
}

.price {
    text-align: right;
}

.ul_header > li {
    display: inline-block; /* ナビゲーションのリストをヘッダー内で横方向に並べて表示させる */
    height: 30px;
    width: 100px;
}

.ul_header > li > a {
    color: #FFFFFF; /* white */
    font-weight: bold;
    text-decoration: none; /* リンクの下線を付けない */
}

.ul_header > li > a:hover { /* :hover擬似クラス。class属性がul_headerのタグ内のliタグ内のaタグのリンクにマウスオーバーした時にフォント色を変える */
    color: #FAEBD7; /* antiquewhite */
}