* { 
    color: #3C1321; /* dark chocolate */
    font-family: 'Bitter','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','ヒラギノ角ゴ W3', 'メイリオ', system-ui; /* BitterはWebフォント。HTMLでGoogle Fontsを参照して使用 */
    margin: 0px;
    padding: 0px;
}

footer {
    background-color: #7B5544; /* coffee */
    padding: 0px 30px 0px 30px;
}

header {
    background-color: #7B5544; /* coffee */
    height: 130px;
    padding: 0px 30px 0px 30px;
}

h1 {
    color: #FFFFFF; /* white */
    font-size: 2.5em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.3em;
}

main {
    background-color: #FAEBD7; /* antiquewhite */
    padding: 50px 0px 50px 0px;
}

section {
    padding: 0px 30px 50px 30px;
    width: 900px;
}

table {
    border: 1px solid #7B5544; /* coffee */
}

th {
    background-color: #7B5544; /* coffee */
    color: #FFFFFF; /* white */
    text-align: center;
}

.about_em {
    font-size: 1.5em;
    font-style: normal;
    font-weight: bold;
}

.about_hr {
    border: 1px #7B5544 dashed;
    margin: 30px 0px 30px 0px;
}

.about_mission {
    text-align: center;
}

.footer_table {
    padding: 50px 0px 50px 100px;
    width: 600px;
}

.footer_td {
    width: 160px;
}

.footer_tr td {
    color: #FFFFFF; /* white */
    font-size: 1em;
}

.gallery_image {
    text-align: center;
}

.google_map {
    padding: 30px 0px 0px 0px;
    text-align: center;
}

.header_h1 {
    padding: 20px 0px 20px 0px;
}

.main_contents {
    padding: 30px 0px 30px 30px;
}

.menu_div {
    margin-left: 40px;
}

.menu_h3 {
    padding: 20px 0px 20px 0px;
}

.menu_p {
    margin: 30px 0px 0px 0px;
}

.menu_table {
    width: 700px;
}

.menu_tr:nth-child(2n) { /* :nth-child擬似クラス。class属性がmenu_trのタグの表の偶数行の背景色を変える */
    background-color: #FFFFF0; /* ivory */
}

.price {
    text-align: right;
}

.ul_header li {
    display: inline-block;
    height: 30px;
    width: 100px;
}

.ul_header li a {
    color: #FFFFFF; /* white */
    font-weight: bold;
    text-decoration: none;
}

.ul_header li a:hover { /* :hover擬似クラス。class属性がul_headerのタグ内のliタグ内のaタグのリンクにマウスオーバーした時にフォント色を変える */
    color: #FAEBD7; /* antiquewhite */
    font-weight: bold;
    text-decoration: none;
}